In [59]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from datetime import datetime

In [2]:
df = pd.read_csv('../../data/raw/inmet.csv', sep=';')

In [5]:
df.shape

(4941669, 10)

In [36]:
df

,id_estacaometeo,id_varmeteo,nom_varmeteo,nom_longo,din_medicao,din_inclusaodl,val_medicao,val_altitude,val_latitude,val_longitude
0,A701,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,São Paulo - Mirante de Santana,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,20.6,792.06,-23.496294,-46.620087
1,A705,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Bauru,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,19.3,550.00,-22.358051,-49.028877
2,A706,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Campos do Jordão,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,18.3,1580.00,-22.750278,-45.603890
3,A707,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Presidente Prudente,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,14.5,435.55,-22.119867,-51.408638
4,A708,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Franca,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,17.3,1003.00,-20.584444,-47.382500
...,...,...,...,...,...,...,...,...,...,...
4941664,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 19:00:00.000,2022-02-13 09:56:03.000,24.1,35.00,-24.533138,-47.864140
4941665,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 20:00:00.000,2022-02-13 09:56:03.000,23.6,35.00,-24.533138,-47.864140
4941666,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 21:00:00.000,2022-02-13 09:56:03.000,23.7,35.00,-24.533138,-47.864140
4941667,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 22:00:00.000,2022-02-13 09:56:03.000,23.7,35.00,-24.533138,-47.864140
4941668,A766,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Registro,2019-03-17 23:00:00.000,2022-02-13 09:56:03.000,23.7,35.00,-24.533138,-47.864140

In [39]:
df['id_varmeteo'].value_counts()

TEM_MAX    1647223
TEM_INS    1647223
TEM_MIN    1647223
Name: id_varmeteo, dtype: int64

In [35]:
df['din_medicao'].nunique()

38981

In [42]:
df['nom_longo'].unique()

array(['São Paulo - Mirante de Santana', 'Bauru', 'Campos do Jordão',
       'Presidente Prudente', 'Franca', 'São Carlos', 'Iguape',
       'Sorocaba', 'Itapeva', 'São Miguel Arcanjo', 'Ourinhos',
       'Rancharia', 'Avare', 'Piracicaba', 'Lins', 'Taubaté',
       'Votuporanga', 'Jales', 'Valparaiso', 'Jose Bonifácio', 'Ariranha',
       'Ibitinga', 'Casa Branca', 'Itapira', 'São Luis do Paraitinga',
       'Barra Bonita', 'Bragança Paulista', 'Moela', 'Barra do Turvo',
       'Pradopolis', 'Barretos', 'Ituverava', 'Barueri', 'Dracena',
       'Marília', 'Bebedouro', 'Bertioga', 'Registro', 'São Sebastião',
       'Tupã', 'Cachoeira Paulista', 'São Simão (SP)',
       'São Paulo-SESC Interlagos'], dtype=object)

In [6]:
df['val_medicao'].isnull().sum()/df.shape[0]

0.22086242522516178

In [7]:
df[df['val_medicao'].isnull()]

,id_estacaometeo,id_varmeteo,nom_varmeteo,nom_longo,din_medicao,din_inclusaodl,val_medicao,val_altitude,val_latitude,val_longitude
7,A713,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Sorocaba,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,NaN,609.0,-23.426111,-47.585556
19,A735,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Jose Bonifácio,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,NaN,405.0,-21.085556,-49.920277
20,A736,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Ariranha,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,NaN,525.0,-21.133055,-48.840557
23,A739,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Itapira,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,NaN,635.0,-22.415000,-46.805280
27,A745,TEM_MAX,TEMPERATURA MÁXIMA NA HORA ANT.,Moela,2020-05-23 09:00:00.000,2022-04-20 02:12:20.000,NaN,45.0,-24.047846,-46.263340
...,...,...,...,...,...,...,...,...,...,...
4940464,A747,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Pradopolis,2018-08-06 19:00:00.000,2022-02-14 08:58:15.000,NaN,544.0,-21.338333,-48.113888
4940465,A747,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Pradopolis,2018-08-06 20:00:00.000,2022-02-14 08:58:15.000,NaN,544.0,-21.338333,-48.113888
4940466,A747,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Pradopolis,2018-08-06 21:00:00.000,2022-02-14 08:58:15.000,NaN,544.0,-21.338333,-48.113888
4940467,A747,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Pradopolis,2018-08-06 22:00:00.000,2022-02-14 08:58:15.000,NaN,544.0,-21.338333,-48.113888
4940468,A747,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Pradopolis,2018-08-06 23:00:00.000,2022-02-14 08:58:15.000,NaN,544.0,-21.338333,-48.113888

In [9]:
df['nom_varmeteo'].value_counts()

TEMPERATURA MÁXIMA NA HORA ANT.    1647223
TEMPERATURA DO AR - BULBO SECO     1647223
TEMPERATURA MÍNIMA NA HORA ANT.    1647223
Name: nom_varmeteo, dtype: int64

In [58]:
df['din_medicao'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4941669 entries, 0 to 4941668
Series name: din_medicao
Non-Null Count    Dtype
--------------    -----
4941669 non-null  object
dtypes: object(1)
memory usage: 37.7+ MB

In [64]:
df['datetime'] = df['din_medicao'].map(lambda x: datetime.fromisoformat(x))
df['datetime']

0         2020-05-23 09:00:00
1         2020-05-23 09:00:00
2         2020-05-23 09:00:00
3         2020-05-23 09:00:00
4         2020-05-23 09:00:00
                  ...
4941664   2019-03-17 19:00:00
4941665   2019-03-17 20:00:00
4941666   2019-03-17 21:00:00
4941667   2019-03-17 22:00:00
4941668   2019-03-17 23:00:00
Name: datetime, Length: 4941669, dtype: datetime64[ns]

In [71]:
df.sort_values(['datetime', 'id_varmeteo'], ascending=True)

,id_estacaometeo,id_varmeteo,nom_varmeteo,nom_longo,din_medicao,din_inclusaodl,val_medicao,val_altitude,val_latitude,val_longitude,datetime
239412,A767,TEM_INS,TEMPERATURA DO AR - BULBO SECO,São Sebastião,2018-01-01 00:00:00.000,2022-02-14 09:39:07.000,24.4,24.00,-23.810833,-45.402500,2018-01-01 00:00:00
239436,A768,TEM_INS,TEMPERATURA DO AR - BULBO SECO,Tupã,2018-01-01 00:00:00.000,2022-02-14 09:39:07.000,20.9,498.00,-21.927221,-50.490276,2018-01-01 00:00:00
239460,A769,TEM_INS,TEMPERATURA DO AR - BULBO SECO,Cachoeira Paulista,2018-01-01 00:00:00.000,2022-02-14 09:39:07.000,22.3,586.00,-22.688889,-45.005554,2018-01-01 00:00:00
258333,A701,TEM_INS,TEMPERATURA DO AR - BULBO SECO,São Paulo - Mirante de Santana,2018-01-01 00:00:00.000,2022-02-14 08:58:15.000,21.1,792.06,-23.483334,-46.616665,2018-01-01 00:00:00
258357,A705,TEM_INS,TEMPERATURA DO AR - BULBO SECO,Bauru,2018-01-01 00:00:00.000,2022-02-14 08:58:15.000,21.2,666.00,-22.358055,-49.028890,2018-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
2020838,A767,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,São Sebastião,2022-06-13 11:00:00.000,2022-06-13 14:03:51.000,NaN,24.00,-23.810833,-45.402500,2022-06-13 11:00:00
2020839,A768,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Tupã,2022-06-13 11:00:00.000,2022-06-13 14:03:51.000,16.4,498.00,-21.927252,-50.490250,2022-06-13 11:00:00
2020840,A769,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,Cachoeira Paulista,2022-06-13 11:00:00.000,2022-06-13 14:03:51.000,13.7,586.00,-22.688889,-45.005554,2022-06-13 11:00:00
2020841,A770,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,São Simão (SP),2022-06-13 11:00:00.000,2022-06-13 14:03:51.000,15.6,620.00,-21.461111,-47.579445,2022-06-13 11:00:00
2020842,A771,TEM_MIN,TEMPERATURA MÍNIMA NA HORA ANT.,São Paulo-SESC Interlagos,2022-06-13 11:00:00.000,2022-06-13 14:03:51.000,13.2,771.00,-23.724500,-46.677500,2022-06-13 11:00:00

In [70]:
df['datetime'].value_counts().unique()

array([3225,  381,  246,  240,  129,  126,  123,  120], dtype=int64)